body {
  background-color: rgb(195, 26, 195);
  padding: 0px;
  margin: 0px;
}
p {
  background-color: lightgrey;
  border: solid lightgreen 2px;
}
p:first-child {
  height: 100px;
  padding: 20px;
  margin: 0px;
}
p:nth-child(2) {
  width: 50%;
  padding: 1.2em;
  margin: 20px 5px 20px 5px;
}
p:last-child {
  height: 200px;
  width: 200px;
  margin: auto;
}
