h1 {
  text-shadow: 5px -8px 4px #b174eb;
}
#p1 {
  box-shadow: 0px 0px 15px red;
}
#p2 {
  box-shadow: -20px 15px 3px #99cd31;
}
div {
  width: 500px;
  height: 500px;
  background-color: #9c4ce7;
  display: flex;
  justify-content: center;
  align-items: center;
}
#d2 {
  width: 200px;
  height: 200px;
  background-color: blue;
  box-shadow: 10px 10px 20px black, -10px -10px 20px white;
}
